1. **Displaying the Items from Inventory**

In [19]:
import json
import pandas as pd
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)
df = pd.DataFrame(record).T
df

              name  price quantity
1001     parachute     50       10
1002     headphone    500       10
1003         purse     50       20
1004           mat    100       10
1005         cable     20       50
1006       monitor    800       50
1007           dye     70       90
1008         paint    800       20
1009         torch    100       20
1010        spunch     60       15
1011         paste     33       22
1012          bulb     11       22
1013         botle     66       44
1014           BUD     33       22
1015           PIN      2       80
1016         TABLE    600       44
1017   BLACK_COVER     22       10
1018     Batminton    922       21
1019        cotton     32       25
1020       biscuit      5      100
1021         bread     20       50
1022  screen gaurd     33      505
1023           pin      2      202
1024      calander     66      222
1025           oil     90       60
1026         chair    500       20
1027         munch      5        5
1028       kit-kat     10       22
1029        mirror     22       33
1030          plug     26       55
1031          nail     20       50
1034         tower    222       55
1032          seat     44       55
1033       vasline     22       55
1035  BOATROCKERZZ    999        2
1036        SENSOR     33       55
1037         lemon      2      202
1038         saint    555        5
1039          pant    333       22
1040    inner wear     22        8
1041         mouse     66      555
1042           SSD   1999        5
1043       DISPLAY   1000        5
1044         PHOTO     55       88
1045  WATER BOTTLE     88       66
1046         FANTA     22       55
1047          BOOK     22       50
1048           TED      5        5
1049        SETWET     82       25
1050        SETGET    666        2
1051       **CR7**   5000        2
1052           FA1  50000       10

2. **INCREASING quantity of EXISTING product**

In [4]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
price = int(input("Enter price:"))
quantity = int(input("Enter quantity:"))

quantity=record[prod_id]['quantity']+quantity

record[prod_id] = {'name': name, 'price': price, 'quantity': quantity}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1050
Enter name:SETGET
Enter price:666
Enter quantity:1

3. **RECORDS OF PRODUCT**

In [17]:
record

{'1001': {'name': 'parachute', 'price': 50, 'quantity': 10},
 '1002': {'name': 'headphone', 'price': 500, 'quantity': 10},
 '1003': {'name': 'purse', 'price': 50, 'quantity': 20},
 '1004': {'name': 'mat', 'price': 100, 'quantity': 10},
 '1005': {'name': 'cable', 'price': 20, 'quantity': 50},
 '1006': {'name': 'monitor', 'price': 800, 'quantity': 50},
 '1007': {'name': 'dye', 'price': 70, 'quantity': 90},
 '1008': {'name': 'paint', 'price': 800, 'quantity': 20},
 '1009': {'name': 'torch', 'price': 100, 'quantity': 20},
 '1010': {'name': 'spunch', 'price': 60, 'quantity': 15},
 '1011': {'name': 'paste', 'price': 33, 'quantity': 22},
 '1012': {'name': 'bulb', 'price': 11, 'quantity': 22},
 '1013': {'name': 'botle', 'price': 66, 'quantity': 44},
 '1014': {'name': 'BUD', 'price': 33, 'quantity': 22},
 '1015': {'name': 'PIN', 'price': 2, 'quantity': 80},
 '1016': {'name': 'TABLE', 'price': 600, 'quantity': 44},
 '1017': {'name': 'BLACK_COVER', 'price': 22, 'quantity': 10},
 '1018': {'name': 'Batminton', 'price': 922, 'quantity': 21},
 '1019': {'name': 'cotton', 'price': 32, 'quantity': 25},
 '1020': {'name': 'biscuit', 'price': 5, 'quantity': 100},
 '1021': {'name': 'bread', 'price': 20, 'quantity': 50},
 '1022': {'name': 'screen gaurd', 'price': 33, 'quantity': 505},
 '1023': {'name': 'pin', 'price': 2, 'quantity': 202},
 '1024': {'name': 'calander', 'price': 66, 'quantity': 222},
 '1025': {'name': 'oil', 'price': 90, 'quantity': 60},
 '1026': {'name': 'chair', 'price': 500, 'quantity': 20},
 '1027': {'name': 'munch', 'price': 5, 'quantity': 5},
 '1028': {'name': 'kit-kat', 'price': 10, 'quantity': 22},
 '1029': {'name': 'mirror', 'price': 22, 'quantity': 33},
 '1030': {'name': 'plug', 'price': 26, 'quantity': 55},
 '1031': {'name': 'nail', 'price': 20, 'quantity': 50},
 '1032': {'name': 'seat', 'price': 44, 'quantity': 55},
 '1033': {'name': 'vasline', 'price': 22, 'quantity': 55},
 '1034': {'name': 'tower', 'price': 222, 'quantity': 55},
 '1035': {'name': 'BOATROCKERZZ', 'price': 999, 'quantity': 2},
 '1036': {'name': 'SENSOR', 'price': 33, 'quantity': 55},
 '1037': {'name': 'lemon', 'price': 2, 'quantity': 202},
 '1038': {'name': 'saint', 'price': 555, 'quantity': 5},
 '1039': {'name': 'pant', 'price': 333, 'quantity': 22},
 '1040': {'name': 'inner wear', 'price': 22, 'quantity': 8},
 '1041': {'name': 'mouse', 'price': 66, 'quantity': 555},
 '1042': {'name': 'SSD', 'price': 1999, 'quantity': 5},
 '1043': {'name': 'DISPLAY', 'price': 1000, 'quantity': 5},
 '1044': {'name': 'PHOTO', 'price': 55, 'quantity': 88},
 '1045': {'name': 'WATER BOTTLE', 'price': 88, 'quantity': 66},
 '1046': {'name': 'FANTA', 'price': 22, 'quantity': 55},
 '1047': {'name': 'BOOK', 'price': 22, 'quantity': 50},
 '1048': {'name': 'TED', 'price': 5, 'quantity': 5},
 '1049': {'name': 'SETWET', 'price': 82, 'quantity': 25},
 '1050': {'name': 'SETGET', 'price': 666, 'quantity': 2},
 '1051': {'name': '**CR7**', 'price': 5000, 'quantity': 2},
 '1052': {'name': 'FA1', 'price': 50000, 'quantity': 10}}

4. **Add New Item into Inventory**

In [16]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
price = int(input("Enter price:"))
quantity = int(input("Enter quantity:"))
if quantity<=0 or price<=0:
  print("invalid input")
else:
  record[prod_id] = {'name': name, 'price': price, 'quantity': quantity}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1052
Enter name:FA1
Enter price:50000
Enter quantity:10

5. **DELETE ELEMENT FROM RECORD**

In [14]:
prod_id = str(input("Enter product id:"))
if prod_id in record:
  del record[prod_id]
  print(prod_id + "  prod_id is deleted")
else:
  print("prod_id is not available")

Enter product id:10000
10000  prod_id is deleted

In [15]:
record

{'1001': {'name': 'parachute', 'price': 50, 'quantity': 10},
 '1002': {'name': 'headphone', 'price': 500, 'quantity': 10},
 '1003': {'name': 'purse', 'price': 50, 'quantity': 20},
 '1004': {'name': 'mat', 'price': 100, 'quantity': 10},
 '1005': {'name': 'cable', 'price': 20, 'quantity': 50},
 '1006': {'name': 'monitor', 'price': 800, 'quantity': 50},
 '1007': {'name': 'dye', 'price': 70, 'quantity': 90},
 '1008': {'name': 'paint', 'price': 800, 'quantity': 20},
 '1009': {'name': 'torch', 'price': 100, 'quantity': 20},
 '1010': {'name': 'spunch', 'price': 60, 'quantity': 15},
 '1011': {'name': 'paste', 'price': 33, 'quantity': 22},
 '1012': {'name': 'bulb', 'price': 11, 'quantity': 22},
 '1013': {'name': 'botle', 'price': 66, 'quantity': 44},
 '1014': {'name': 'BUD', 'price': 33, 'quantity': 22},
 '1015': {'name': 'PIN', 'price': 2, 'quantity': 80},
 '1016': {'name': 'TABLE', 'price': 600, 'quantity': 44},
 '1017': {'name': 'BLACK_COVER', 'price': 22, 'quantity': 10},
 '1018': {'name': 'Batminton', 'price': 922, 'quantity': 21},
 '1019': {'name': 'cotton', 'price': 32, 'quantity': 25},
 '1020': {'name': 'biscuit', 'price': 5, 'quantity': 100},
 '1021': {'name': 'bread', 'price': 20, 'quantity': 50},
 '1022': {'name': 'screen gaurd', 'price': 33, 'quantity': 505},
 '1023': {'name': 'pin', 'price': 2, 'quantity': 202},
 '1024': {'name': 'calander', 'price': 66, 'quantity': 222},
 '1025': {'name': 'oil', 'price': 90, 'quantity': 60},
 '1026': {'name': 'chair', 'price': 500, 'quantity': 20},
 '1027': {'name': 'munch', 'price': 5, 'quantity': 5},
 '1028': {'name': 'kit-kat', 'price': 10, 'quantity': 22},
 '1029': {'name': 'mirror', 'price': 22, 'quantity': 33},
 '1030': {'name': 'plug', 'price': 26, 'quantity': 55},
 '1031': {'name': 'nail', 'price': 20, 'quantity': 50},
 '1032': {'name': 'seat', 'price': 44, 'quantity': 55},
 '1033': {'name': 'vasline', 'price': 22, 'quantity': 55},
 '1034': {'name': 'tower', 'price': 222, 'quantity': 55},
 '1035': {'name': 'BOATROCKERZZ', 'price': 999, 'quantity': 2},
 '1036': {'name': 'SENSOR', 'price': 33, 'quantity': 55},
 '1037': {'name': 'lemon', 'price': 2, 'quantity': 202},
 '1038': {'name': 'saint', 'price': 555, 'quantity': 5},
 '1039': {'name': 'pant', 'price': 333, 'quantity': 22},
 '1040': {'name': 'inner wear', 'price': 22, 'quantity': 8},
 '1041': {'name': 'mouse', 'price': 66, 'quantity': 555},
 '1042': {'name': 'SSD', 'price': 1999, 'quantity': 5},
 '1043': {'name': 'DISPLAY', 'price': 1000, 'quantity': 5},
 '1044': {'name': 'PHOTO', 'price': 55, 'quantity': 88},
 '1045': {'name': 'WATER BOTTLE', 'price': 88, 'quantity': 66},
 '1046': {'name': 'FANTA', 'price': 22, 'quantity': 55},
 '1047': {'name': 'BOOK', 'price': 22, 'quantity': 50},
 '1048': {'name': 'TED', 'price': 5, 'quantity': 5},
 '1049': {'name': 'SETWET', 'price': 82, 'quantity': 25},
 '1050': {'name': 'SETGET', 'price': 666, 'quantity': 2},
 '1051': {'name': '**CR7**', 'price': 5000, 'quantity': 2}}

In [20]:
record=json.dumps(record)